.app {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    user-select: none;
}

.app-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* Center the nav items */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* Soft dark background */
    padding: var(--space-sm) 0;
    /* Space top and bottom */
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Slight shadow for depth */
}

.app-nav-item {
    padding: var(--space-sm) var(--space-md);
    font-size: var(--fontsize-1);
    text-decoration: none;
    color: var(--secondary-color);
    /* Light gray color for the nav links */
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: var(--border-radius);
}

.app-nav-item:hover {
    color: var(--primary-color);
    /* Change text color on hover */
    background-color: rgba(255, 255, 255, 0.2);
    /* Subtle background change on hover */
    transform: translateY(-2px);
    /* Slight elevation effect */
}

.app-nav-item:active {
    transform: translateY(0);
    /* Reset on click for smooth interaction */
}

.app-main {
    width: 100%;
    max-width: var(--max-width-content);
    min-height: 100vh;
    padding: var(--space-sm);
}
